.logo {
    font-size: 1.8rem;
    font-weight: 800;
    /* Gradient Text */
    background: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    letter-spacing: -1px;
}

.app-layout {
    display: flex; /* Puts sidebar and content side-by-side */
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background: #777a7d;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content-area {
    flex-grow: 1; /* Takes up the rest of the screen */
    padding: 40px;
    background: #f4f4f4;
}

.not-logout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;     
}

.nav-links { 
    list-style: none; 
    padding: 0; 
    margin-top: 30px;

}

.nav-buttons { 
    padding: 12px; 
    cursor: pointer; 
    border-radius: 4px;
    margin-bottom: 5px;
}
.nav-buttons:hover { background: #576573; }
.nav-buttons.active { background: #404b53; }

.other-buttons {
    padding: 12px; 
    cursor: pointer; 
    border-radius: 4px;
    margin-bottom: 5px;
    background: #e2ff6f; 
    display: flex;
    flex-direction: column; 
    text-decoration: none;
}
.other-buttons:hover {
    background: #ccff00; 
}

.red-logout { 
    padding: 12px; 
    cursor: pointer; 
    border-radius: 4px;
    margin-bottom: 5px;
    background: #b56666; 
    display: flex;
    flex-direction: column;
}
.red-logout:hover { background: #c03030; }