.app-layout {
    display: flex; /* Puts sidebar and content side-by-side */
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background: #777a7d;
    color: white;
    padding: 20px;
    flex-shrink: 0; /* Prevents sidebar from squishing */
}

.content-area {
    flex-grow: 1; /* Takes up the rest of the screen */
    padding: 40px;
    background: #f4f4f4;
}

.nav-links { list-style: none; padding: 0; margin-top: 30px; }
.nav-buttons { 
    padding: 12px; 
    cursor: pointer; 
    border-radius: 4px;
    margin-bottom: 5px;
}
.nav-buttons:hover { background: #576573; }
.nav-buttons.active { background: #404b53; }

.red-logout { 
    padding: 12px; 
    cursor: pointer; 
    border-radius: 4px;
    margin-bottom: 5px;
    background: #b56666; 
}
.red-logout:hover { background: #c03030; }